/* カスタムプロパティ */

:root {
  --background-color: #fff;
  --footer-height: 6rem;
  --header-height: 6rem;
  --separator-color: #ddd;
  --text-color: #333;
}

/* 文字組み */

html {
  color: var(--text-color);
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  padding: calc((3 - 1.75) * 0.5em) 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  padding: calc((3 - 1.75) * 0.5em) 0;
}

p {
  overflow-wrap: break-word;
}

p + p {
  overflow-wrap: break-word;
  margin-top: 1.5em;
}

address {
  font-style: inherit;
}

a:focus {
  outline: solid 2px;
}

/* 版面 */

:root {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

.page__header {
  left: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.page__content {
  background-color: var(--background-color);
  margin: 0 auto;
  max-width: 1000px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 88%;
}

.page__footer {
  position: relative;
}

/* ヘッダー */

.header {
  background-image: linear-gradient(#000b, #000b),
    url("/figure/background.webp"), linear-gradient(#333, #333);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template: 4rem 2rem / 100%;
  grid-template-areas: "title" "navigation";
  height: var(--header-height);
}

.header__title {
  grid-area: title;
  padding: 1.2rem;
}

.header__logo {
  display: block;
  height: 100%;
  object-fit: contain;
  object-position: left center;
  width: 100%;
}

.header__navigation {
  align-self: center;
  grid-area: navigation;
}

@media (min-width: 700px) {
  :root {
    --header-height: 5rem;
  }

  .header {
    grid-template: 5rem / 16rem 1fr auto;
    grid-template-areas: "title . navigation";
    padding: 0 calc(max(50% - 550px, 0px) + 1.25rem);
  }
}

/* ナビゲーション */

.navigation {
  align-items: center;
  display: flex;
  list-style: none;
}

.navigation__item {
  flex: 1;
  padding: 0 0.5rem;
}

.navigation__link {
  color: var(--background-color);
  display: block;
  text-align: center;
  text-decoration: none;
}

/* フッター */

.footer {
  background-image: linear-gradient(#000b, #000b),
    url("/figure/background.webp"), linear-gradient(#333, #333);
  background-position: center;
  background-size: cover;
  height: var(--footer-height);
}

.footer__snslist {
  left: 50%;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
}

.footer__copyright {
  color: #fff;
  font-size: 0.95rem;
  left: 50%;
  position: absolute;
  top: 75%;
  transform: translate(-50%, -50%);
}

/* SNSリスト */

.snslist {
  display: flex;
  list-style: none;
}

.snslist__item {
  height: 1.5rem;
  margin: 0 5px;
  width: 1.5rem;
}

/* SNSアイコン */

.snsicon {
  display: block;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  width: 100%;
}
