/* 告知 */

.announcement {
  background: rgba(255, 255, 255, 0.85);
  line-height: 1.6;
  overflow-wrap: break-word;
  padding: 0.3em 0;
  position: absolute;
  text-align: center;
  top: var(--header-height);
  width: 100%;
}

/* アイキャッチ */

.eyecatch {
  display: block;
  height: calc((9 / 16) * 100vw);
  max-height: 35vh;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.catchphrase {
  font-size: 1.8rem;
  padding-left: 0.75em; /* 句点を詰める代わり */
  text-align: center;
  word-break: keep-all;
}

.partition {
  border: solid 1px var(--separator-color);
  height: 0px;
  margin: 0 auto;
  width: 20%;
}

.sectionlist__item {
  margin: 2rem 0;
}

.sectionlist__item:first-of-type {
  margin-top: 0;
}

/* 新着情報 */

.newslist {
  border: solid 1px var(--separator-color);
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

.newslist__item {
  margin: 0.5em;
}

.news {
  padding-left: 1em;
}

.news__date {
  display: inline-block;
  margin-right: 1em;
  text-indent: -1em;
}

.news__summary {
  display: inline;
  word-break: break-all;
}

/* ゼミ集 */

.seminarlist {
  display: flex;
  overflow-x: auto;
}

.seminarlist__item {
  flex: none;
  margin-right: 10px;
}

.seminarlist__item:last-of-type {
  margin-right: 0;
}

/* ゼミ */

.seminar {
  border: solid 1px var(--separator-color);
  border-radius: 5px;
  max-width: 70vw;
  overflow-x: hidden;
  width: 20rem;
}

.seminar__thumbnail {
  border-bottom: solid 1px var(--separator-color);
  display: block;
  height: calc(min(20rem, 70vw) / 3);
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

.seminar__info {
  font-size: 0.95rem;
  padding: 0 1em 1em 1em;
  position: relative;
}

.seminar__name {
  background: var(--background-color);
  font-size: 1.2rem;
  font-weight: normal;
  left: 0;
  line-height: 3;
  overflow-x: hidden;
  padding: unset;
  position: sticky;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.seminar__detail {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  line-clamp: 8;
  line-height: 1.75;
  min-height: calc(8 * 1.75em);
  overflow: hidden;
}
