/* ゼミ */

.seminarlist__item {
  margin-bottom: 10px;
}

.seminar {
  border: solid 1px var(--separator-color);
  border-radius: 5px;
  padding: 15px;
}

.seminar__name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: unset;
}

.seminar__gallery {
  margin-top: 0.5em;
}

/* タグ集 */

.taglist::after {
  clear: both;
  content: "";
  display: block;
}

.taglist__item {
  border: solid 1px;
  border-radius: 0.4em;
  display: block;
  float: left;
  font-size: 0.8rem;
  margin: 0.2em;
  padding: 0 0.3em;
}

/* ギャラリー */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.gallery__item {
  border: solid 1px var(--separator-color);
  margin: 0.5em;
}

.gallery__image {
  background: var(--text-color);
  display: block;
  object-fit: contain;
}
