/* セクション */
.section {
  padding: 2rem 0;
}

.section__title {
  border-bottom: 1px solid var(--separator-color);
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.section__text {
  line-height: 1.8;
}

.section__content {
  line-height: 1.8;
}